/* CSS VARIABLES */
:root {
  --red: hsl(0, 100%, 68%);
  --red-hover: hsl(0, 96%, 73%);

  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Barlow Condensed', sans-serif; */

/* GENERAL CSS */
body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

.main-container {
  width: 80%;
  margin: auto;
}

/* =========================== */
/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.link {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--very-dark-blue);
}

.login {
  color: var(--grayish-blue);
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--grayish-blue);
}

.display {
  display: flex;
}

.mobile-menu {
  width: 90%;
  height: 250px;
  background-color: white;
  box-shadow: -9px 10px 8px -5px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -9px 10px 8px -5px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -9px 10px 8px -5px rgba(0, 0, 0, 0.19);
  position: absolute;
  z-index: 5;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.line {
  width: 300px;
  height: 2px;
  background-color: var(--light-grayish-blue);
}

.right-side-bg {
  height: 400px;
  width: 700px;
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
  border-radius: 0 0 0 70px;
}

.remove {
  display: none;
}

/* END OF NAVBAR */
/* =========================== */

/* =========================== */
/* MAIN-SECTION */

.main-section {
  display: flex;
  height: 60vh;
  margin-top: 70px;
}

.left-side {
  width: 40%;
}

.sub-heading {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: var(--grayish-blue);
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.sub-heading span {
  background-color: var(--very-dark-blue);
  letter-spacing: 0;
  border-radius: 15px;
  padding: 3px 7px;
  color: white;
  font-weight: 700;
}

.main-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: var(--very-dark-blue);
  margin-bottom: 40px;
}

.desc {
  color: var(--dark-grayish-blue);
  width: 60%;
  margin-bottom: 50px;
}

.schedule {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-cta {
  font-family: "Barlow", sans-serif;
  background-color: var(--red);
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.main-cta:hover {
  cursor: pointer;
  background-color: var(--red-hover);
}

.schedule p {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.right-side {
  position: absolute;
  right: -250px;
}

/* END OF MAIN-SECTION */
/* =========================== */

/* =========================== */
/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .right-side {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .right-side-bg {
    height: 400px;
    width: 400px;
  }

  .left-side {
    width: 60%;
  }

  .right-side {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .main-container {
    width: 90%;
  }

  .right-side-bg {
    height: 300px;
    width: 200px;
  }

  .main-section {
    flex-direction: column;
  }

  .left-side {
    margin-top: 50px;
    order: 2;
    width: 100%;
  }

  .main-heading {
    margin-bottom: 20px;
  }

  .desc {
    margin-bottom: 20px;
    font-size: 1.5rem;
    width: 90%;
  }

  .main-cta {
    width: 50%;
  }

  .right-side {
    position: relative;
    right: 0;
    width: 100%;
    order: 1;
  }

  .right-side img {
    width: 120%;
    position: relative;
  }

  .links {
    display: none;
  }
}
